<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product Detail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
  <header class="bg-dark text-white py-3">
    <div class="container">
      <h1 class="text-center">Product Detail</h1>
    </div>
  </header>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" th:src="*{'data:image/jpeg;base64,'+{product.image}}" alt="">
      </div>
      <div class="col-md-6">
        <h1 class="text-uppercase" th:text="${product.name}"></h1>
        <div class="mb-3">
          <h2 th:text="'Price: '+${product.price}+'$'"></h2>
        </div>
        <div class="mb-3">
          <h2 th:text="'Brand: '+${product.brand}"></h2>
        </div>
        <div class="mb-3">
          <h2 th:text="'Color: '+${product.color}"></h2>
        </div>
        <div class="mb-3">
          <h2 th:text="'Category: '+${product.category.name}"></h2>
        </div>
        <h2>Description: </h2>
        <p class="mb-3" style="font-size: 20;">In the digital age today, electronic devices are of great importance to humans.
          Some popular electronic devices such as: TV, smart phone, laptop, electronic watch, printer, projector … Currently,
          electronic device designs are generally simplified but full of features.</p>
        <form th:action="@{'/add/' + ${product.id}}" method="post" class="form-group">
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-shopping-cart"></i> Add to cart
          </button>
        </form>
      </div>
    </div>
  </div>
  <footer class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 My Company. All rights reserved.</p>
        </div>
    </div>
  </footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNS"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>